<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.market.persistence.PaymentRepository">

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO payments (amount, method, order_id) VALUES (#{amount}, #{method}, #{orderId});
    </insert>

    <select id="findAll" resultType="com.solvd.market.domain.payments.Payment">
        SELECT id, amount, method FROM payments;
    </select>

    <select id="findById" parameterType="long" resultType="com.solvd.market.domain.payments.Payment">
        SELECT id, amount, method FROM payments WHERE id = #{id};
    </select>

    <update id="update">
        UPDATE payments SET amount = #{amount}, method = #{method} WHERE id = #{id};
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM payments WHERE id = #{id};
    </delete>

</mapper>